<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>build/test.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg %n</pattern>
        </encoder>
    </appender>

    <!--<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder>-->
            <!--<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>-->
        <!--</encoder>-->
        <!--<target>System.err</target>-->
    <!--</appender>-->
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
</configuration>

<!--Question : how this log configuration is propagated to all the submodules ? would it be easier to put it into some submodule ?-->